<ul class="nav justify-content-center">
  <li class="nav-item">
    <%= link_to 'Users', users_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Accounts', accounts_path, class: 'nav-link' %>
  </li>
</ul>
