<div class="container">
  <div class="row">
    <div class="col-md">
      Your current account balance:
    </div>

    <div class="col-md">
      <%= number_to_currency((@account&.balance || 0), unit: "R$",
                                                       separator: ",",
                                                       delimiter: "") %>
    </div>
  </div>

  <%= form_for :account, url: transfer_account_path(@account&.id), method: :post do |f| %>
    <div class="row">
      <div class="col-md">
        Transfer money to another account:
      </div>

      <div class="col-md">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <%= f.text_field :amount, class: 'form-control' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
